/**
 * Styling for the "game" interface
 */

/* Button in the log area; challenge, take back */
.turn-control button {
	font-size: 120%;
}

/* Shuffle and take back fat buttons */
.fat-icon {
    margin: 2px;
    background-size: 100% 100%;
    background-position: center;
	margin-top: -15px !important;
	margin-left: -15px !important;
	width: 32px !important;
	height: 32px !important;
}

.block-title {
	font-size: 1em;
	font-weight: bold;
	color: brown;
}

div.surround-shade table,
div.bottom-shade table {
    -webkit-box-shadow: 0 0 0.5em #000000;
    -moz-box-shadow: 0 0 0.5em #000000;
    -ms-box-shadow: 0 0 0.5em #000000;
    -o-box-shadow: 0 0 0.5em #000000;
    box-shadow: 0 0 0.5em #000000;
}

/* Wraps everything */
div.user-interface {
    /*width: 59em;*/
	display: none;
}

/* Description of points gained and lost from final racks */
.game-outcome .rack-gains {}

/* The player who just had a turn */
.turn-player {
    margin-top: 0.4em;
    padding-left: 0.5em;
}

/* Details about the turn */
.turn-detail {
    margin-left: 2em;
}

/* Narrative desription of the outcome of the turn */
.turn-narrative {
	font-size: 110%;
	margin-top: 0.3em;
	color: #950000
}

/* A control placed in the log */
.turn-control {
	margin: 0.3em 0 0.3em 0;
}

div.board-wrap {
    margin-top: 1em;
	margin-left: 1em;
    float: left;
    /*width: 37em;*/
}

/* Surface is the base class for Board and Rack */
div.Surface {
    margin: 0;
    padding: 0;
}

div.Surface table {
    border-collapse: separate;
    border-spacing: 0 0;

    border-width: 0.2em;
    border-style: solid;
    border-color:  #54534A;

    padding: 0.2em;

    background-color: #AAA38E;
}

div.Surface tr {
    margin: 0;
    padding: 0;

    border: none;
}

div.Surface td,
div.Surface th {
    margin: 0;
    padding: 0;

    border: none;

    white-space: normal;
    overflow: hidden;

    border-width: 0.122em;
    border-style: dotted;

    background-color: #BEB9A6;
}

div.Surface td.square-_ {
    border-style: solid;
    border-color: #AAA38E;
}

div.Surface td.square-D,
div.Surface td.square-M {
    border-color: #FBBBB9;
}

div.Surface td.square-T {
    border-color: #F75D59;
}

div.Surface td.square-Q {
	border-color: #a21505;
}

div.Surface td.square-d {
    border-color: #A0CFEC;
}

div.Surface td.square-t {
    border-color: #157DEC;
}

div.Surface td.square-q {
    border-color: #0e6993;
}

div.Surface td div {
    display: block;

    margin: 0;
    padding: 0;

    border: none;

    width: 2em;
    height: 2em;

    border-style: solid;
    border-width: 0.15em;

    background-color: red;
    color: #333333;

    cursor: crosshair;
}

div.Surface td div a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    text-decoration: none;

    display: block;

    margin: 0;
    padding: 0;

    border: none;

    text-align: center;
}

.Rack {
    border-width: 0.2em;
    padding: 0.2em;
	margin-bottom: 0.5em;
}

@-webkit-keyframes glow {
    0% {
        border: 0.15em solid #FF9900;
    }
    100% {
        border: 0.15em solid #DC143C;
    }
}

@-moz-keyframes glow {
    0% {
        border: 0.15em solid #FF9900;
    }
    100% {
        border: 0.15em solid #DC143C;
    }
}

@keyframes glow {
    0% {
        border: 0.15em solid #FFFFFF;
    }
    100% {
        border: 0.15em solid #333333;
    }
}

div.Surface td.square-D div,
div.Surface td.square-M div {
    background-color: #FBBBB9;
    border-color: #FBBBB9;
    color: #F75D59;
}

div.Surface td.square-T div {
    background-color: #F75D59;
    border-color: #F75D59;
    color: #8B0000;
}

div.Surface td.square-Q div {
	background-color: #a21505;
	border-color: #a21505;
    color: #eeeeee;
}

div.Surface td.square-_ div {
    background-color: #BEB9A6;
    border-color: #BEB9A6;
}

div.Surface td.square-d div {
    background-color: #A0CFEC;
    border-color: #A0CFEC;
    color: #157DEC;
}

div.Surface td.square-t div {
    background-color: #157DEC;
    border-color: #157DEC;
    color: #000080;
}

div.Surface td.square-q div {
    background-color: #0e6993;
    border-color: #0e6993;
	color: #eeeeee;
}

div.Surface td.score-multiplier div.empty-square a {
    font-size: 0.50em;
    padding-top: 0.0em;
    line-height: 1.4em;
    letter-spacing: 0.0em;
}

div.Surface td.square-M div.empty-square a {
    font-size: 2em;
}

#typingCursor {
	font-family: symbol;
	font-size: 1.5em;
	font-weight: bold;
	color: green;
	width: 80%;
	height: 80%;
	text-align: center;
	position: relative;
	z-index: 2;
}

div.Surface td div.tiled-square {
    cursor: move;
    background-color: #F7F7E3;
    border-color: #DCDCC6;
    border-style: solid;

	color: #333333;

    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
}

div.Surface td div.tiled-square a {
}

div.Surface td div.Locked {
    cursor: default;
    color: #474633;
}

div.Surface td div.temporary {
    border-color: #626258;
}

div.Surface td div.temporary:hover {
    color: #000000 !important;

    border-color: #FF9900;
}

div.Surface td div.selected,
.drag-border {
    color: #000000 !important;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;

    -ms-animation-name: glow;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: linear;

    -o-animation-name: glow;
    -o-animation-duration: 0.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: linear;
	
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

    border-color: #DC143C !important;
}

.drag-border {
    -webkit-box-shadow: 0px 0px 0.5em #333333;
    -moz-box-shadow: 0px 0px 0.5em #333333;
    -ms-box-shadow: 0px 0px 0.5em #333333;
    -o-box-shadow: 0px 0px 0.5em #333333;
    box-shadow: 0px 0px 0.5em #333333;

    z-index: 1000;
}

div.Surface td div.drop-active {
    cursor: pointer;

    border-color: #333333 !important;
}

div.Surface td div a span {
    margin: 0;
    padding: 0;
}

div.Surface td div.tiled-square a span.letter,
div.Surface td div.tiled-square a span.blank-letter {
    font-size: 1.2em;
    font-weight: normal;

    line-height: 1.6em;

    padding-left: 0.2em;
}

@-moz-document url-prefix(//) {
	div.Surface td div.tiled-square a span.letter,
	div.Surface td div.tiled-square a span.blank-letter {
	    line-height: 1.8em;
    }
}

div.Surface td div.tiled-square a span.score {
    font-size: 0.8em;
    vertical-align: sub;
    padding-left: 0.2em;
}

div.Surface td div.Cursor a {
    line-height: 1.0em;
    font-size: 2.0em;
    font-weight: normal;
    color: #54534A;
}

div.Surface td div.blank-letter a {
    border-left: 0.2em solid #ADFF2F;
    border-right: 0.2em solid #ADFF2F;
}

/* Background letters behind the swap rack */
.underlay-container {
	position: relative;
}

.underlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	overflow: hidden;
	font-size: 1.7em;
	color: rgba(60, 60, 80, 0.3)!important;
}

.underlay-container > .tiled-square {
	z-index: 1;
	position: relative;
}

.last-placement {
	background-color: #E2E298!important;
}

.hint-placement {
	background-color: #E2FF98!important;
}

.word {
	font-style: italic
}

.word-score {
	font-size: 0.75em;
}

.tick-alert-low {
	color: white;
}

.tick-alert-medium {
	color:orange;
}

.tick-alert-high {
	color: red;
}

/* Override jquery-ui for shuffle and take-back buttons */
button.fat-button {
	width: 2em;
	height: 2em;
}

.shuffle-icon {
	background-image: url(../images/shuffle.png) !important;
}

.take-back-icon {
	background-image: url(../images/take-back.png) !important;
}

/* Div that wraps all the individual control panels */
#controls {
    float: left;
    margin-top: 1em;
    width: 20em;
}

#settings {
	float: right;
	font-size: 1.3em;
}

/* Button for making a play */
#turnButton {
	font-size: 130%;
}

#controls > div {
    background-color: #F7F7E3;
    border-color: #DCDCC6;

    border-style: solid;
	
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;

    margin-bottom: 0.4em;
    padding: 0.4em;
}

/* The #controls div that contains login information and buttons */
#loginBlock {
}

/* The #controls > div with the scores and letter bag state */
#scoresBlock {
    min-height: 4em;
}

/* The #scoresBlock > div that has the letter bag status */
#letterbag {
    margin: 0.5em;
}

/* The #controls > div with the swap rack and turn control buttons */
#yourPlayBlock {
}

/* #yourPlayBlock > div showing the proposed move */
#yourMove {
    margin-bottom: 0.5em;
}

/* The #controls > div with the chat */
#chatBlock {
    max-height: 11em;
}

/* #chatBlock > div chat message display */
#chatMessages {
    overflow: auto;
    margin-left: 5%;
	max-height: 7em;
}

/* Who sent a chat message */
#chatBlock .chatSender {
	font-weight: bold;
}

/* #chatBlock > div chat message capture */
#chatInput {
    margin-top: 0.25em;
    width: 100%;
}

#chatInput input {
    width: 95%;
}

.chatMessage.warning {
	color: #B00;
}

/* The div with the game events log */
#logMessages {
	font-size: 80%;
    height: 14em;
    overflow: auto;
}

#logMessages .game-state {
	margin-top: 0.5em;
	font-weight: bold;
}

#logMessages .game-outcome {
}

/* #rack > div, the rack with buttons used to control it */
#rackControls {
	margin-top: 0.5em;
	width: 100%;
	text-align: center;
	display: table;
}

#rackControls .Rack {
	float: left;
	margin: 0;
}

/* div that contains the rack control buttons - Shuffle, Take back */
#rackControls .fat-buttons {
	display: table-cell;
	vertical-align: middle;
    font-size: 1.2em;
	height: 100%;
}

#takeBackButton {
    visibility: hidden;
}

#timeout[name=message] {
	font-size: 1.5em;
	color: grey;
}

/* Blank letter requester dialog */
#blankLetterTable td {
	font-size: 1.5em;
	text-align: center;
	border-color: #DCDCC6;
    border-style: solid;
	
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;

    border-radius: 0.4em;
    border-collapse: separate;
    border-spacing: 0 0;

    border-width: 0.1em;
}

