/**
 * Styling specific to the "games" interface
 */
body {
	color: white;
    margin-left: 3em;
    margin-right: 3em;
	font-size: 1.2em;
}

#game-table {
	margin-bottom: 1.5em;
}

/* A game in the games table */
.game {
	border: 1px solid;
	padding: 0.2em;
}

.logged-in {
	display: none;
}

#heading {
	float: right;
}

#games-for {
	font-weight: bold;
	font-size: 2em;
}

#games-cumulative, #games_list {
	display: none;
}
