body {
	color: white;
    margin-left: 3em;
    margin-right: 3em;
	font-size: 1.2em;
}

fieldset {
    background-color:rgba(255,255,255,0.5);
    margin: 1em;
}

legend {
    background-color:rgba(255,255,255,0.5);
}

th, td {
	vertical-align: top;
	padding-top: 1em;
}

#game-table {
	margin-bottom: 1.5em;
}

.game {
	border: 1px solid;
	padding: 0.2em;
}

.game-button {
	color: white;
	background-color: seagreen;
	border-radius: 5px;
	margin: 0.25em;
	padding: 0.25em;
}

.game-button.risky {
	background-color: darkred;
}

.no-padding {
	padding: 0;
}

.online {
	color: #00ff00;
}

.offline {
	color: red;
}

.winner {
	color: green;
}

.logged-in {
	display: none;
}

#heading {
	margin-top: 1em;
}

#games-for {
	font-weight: bold;
	font-size: 2em;
}

#games-cumulative, #games_list, .dialog {
	display: none;
}

.player {
	border: solid white 1px;
	padding: 0.1em;
	padding-top: 0.4em;
	background-color: darkblue;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.player-icon {
	margin-left: 0.5em;
}

.ui-selectmenu-menu {
	z-index: 3000;/* in front of dialog*/
}

