/**
 * Styling specific to the "games" interface
 */
body {
	color: white;
    margin-left: 3em;
    margin-right: 3em;
	font-size: 1.2em;
}

/* A game in the games table */
.game {
	border: 1px solid;
	padding: 0.2em;
}

.logged-in {
	display: none;
}

.logo {
	margin-top: 1em;
}

#gamesTable {
	margin-bottom: 1.5em;
}

#loginState {
	float: right;
	margin-top: 1em;
}

#gamesCumulative, #gamesList {
	display: none;
}

/* Style list of invitees in the InvitePlayersDialog */
.invitee:after {
	content: ", ";
}

.invitee:last-child:after {
	content: "";
}

.invitee {
	font-style: italic;
}
