body {
	color: white;
    margin-left: 3em;
    margin-right: 3em;
	font-size: 1.2em;
}

.hidden {
	display: none;
}

#edition {
}

#dictionary {
}

#time_limit {
}

#playersWrap {
	background-color:rgba(255,255,255,0.33);
	margin: 1em;
	padding: 0.5em;
}

button#addPlayer {
	margin-top: 1em;
}

#problemDialog {
}

.player {
	margin-top: 0.25em;
}

.duplicate {
	background-color: red;
	color: white;
}

th {
	text-align: right;
	padding-right: 0.5em;
}

.isRobot {}

input {
}

input.name {
	margin-left: 0.5em;
	margin-right: 1em;
}

input.isRobot {
	margin-right: 1em;
}

input.email {
	margin-left: 0.5em;
}

input, button {
	font-size: 1em;
}

.removeButton {
	display: inline;
	float: right;
}
