/**
 * CSS used to style the player table. This is rendered on the "game" and
* "games" interfaces by the same code, so has shared CSS
*/
.icon-robot {
    background-image: url('/images/robot-face.svg') !important;
	background-size: 16px 16px;
}

.icon-person {
    background-image: url('/images/person.svg') !important;
	background-size: 16px 16px;
}

.icon-winner {
    background-image: url('/images/winner.svg') !important;
	background-size: 16px 16px;
	color: #f3c716ff;
}

.playerTable tr.player-row {
}

.playerTable td {
	vertical-align: middle;
}

.playerTable .connect-state {}

.playerTable .connect-state.online {
    color: green;
}

.playerTable .connect-state.offline {
    color: #FF0000;
}

/* The pointer */
.playerTable td.turn-pointer {
	visibility: hidden;
	color: green;
}

/* whosTurn is added to the table row when it's the player's turn. This
 * enables the td that contains the pointer */
.playerTable tr.whosTurn td.turn-pointer {
	visibility: inherit;
}

.playerTable td.name {
	font-weight: bold;
}

.playerTable td.remaining-tiles {}

.playerTable td.score {}
