.git
.gitignore
.github
*~
passwd.*
npm-debug.log
Dockerfile*
.dockerignore
docker-compose*
README.md
LICENSE
Makefile
.vscode
DEVELOPER.md
games/*.game
test
doc
sessions
node_modules
https.*
config*.json